@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: scroll;
    background-color: #f8f8f8;
}

.nb {
    background-color: #ffffff;    
    height: 56px;
    display: flex;
    align-items: center; 
    padding: 1em 1.5em;
}

ul>li{    
    list-style: none;
}

#search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px #ccc solid;
    border-radius: 2px;
    height: 32px;   
    margin: 0 12% 0 12%;
}

#search-bar input{    
    width: 90%;
    border: none;
    margin: 0 0 0 8px;
    padding: 1px 2px;
    height: 30px;
    font-size: 16px;
}

#search-bar button{
    width: 9%;
    align-content: center;
    border: none;
    background-color: #f8f8f8;
    border-left: 1px #ccc solid;
    height: 100%;
}

#search-bar button:hover{
    cursor: pointer;
}

#menu-icon{
    padding-right: 1.5em;
    filter: opacity(50%);
}

#youtube-logo{
    height: 18px; 
    padding-right: 1.5em;
}

#camera-logo{
    padding-right: 1.5em;
    filter: opacity(50%);
}

#application-logo{
    padding-right: 1.5em;
    filter: opacity(50%);
}

#notification-logo{
    padding-right: 1.5em;
    filter: opacity(50%);
}

#user-logo{
    width: 48px;
    height: auto;
    filter: opacity(50%);
}

section {
    width: 54%;  
    float: left;
    margin: 1.8% 0 0 7.2%; 
}

section small {
    color: #2159f3;    
}

section h2 {
    font-weight: 400;    
    color: #030303;
    font-size: 18px;
    margin: 0 0 .5em 0;
}

.about{
    display: flex;
    justify-content: space-between;
    color: #606060;
    font-size: 14px;
    padding-right: .5em;
    border-bottom: 2px #ccc solid;
}

.about button{
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #606060;
    padding: 0 .5em 1em .5em;
    cursor: pointer;
}

.icon{
    width: 20px;
    height: 20px;
    filter: opacity(50%);
    cursor: pointer;
}

.about button:hover{
    border-bottom: 2px #606060 solid;
}

.video-description{
    border-bottom: 2px solid #ccc;
    padding-bottom: 1em;
}

.top-description{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 66px;
}

.channel-logo{
    height: 42px;
    margin: .3em 1em 0 .5em;
}

.channel-name h3{
    margin-top: 1.3em;
    font-size: 14px;
}

.channel-name p{
    font-size: 13px;
    color: #606060;
}

.top-description button{
    margin: 14px 16px 14px auto;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    background: #cc0000;
    padding: 5px 16px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.botton-description{
    margin: 1em 4em;
    font-size: 14px;
    color: #030303;
    line-height: 1.5em;
}

.botton-description a{
    text-decoration: none;
    color: #065fd4;
}

.show-more{
    margin: .8em 0;
    color: #606060;
    font-size: 13px;
    cursor: pointer;
    font-weight: 500;
}

.filtercomment{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 1em;
}

.comment{
    color: #030303;
    font-size: 16px;
    margin-right: 32px;
}

.filtercomment img{
    margin-right: 8px;
}

.filter-text{
    color: #606060;
    font-size: 14px;
    font-weight: 500;
}

.comment-line{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.comment-line img{
    height: 35px;
}

.comment-line input{
    width: 100%;
    cursor: text;
    padding-bottom: 4px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: 400;
}

.user-comment {
    display: flex;
    margin-top: 32px;
}

.user-comment ul {
    margin-top: 16px;
}

.user-comment button{
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: #606060;
    padding: 0 .5em 1em .5em;
    cursor: pointer;
}

aside {
    width: 29.7%;    
    float: right;
    margin: 1.8% 7.2% 0 1.8%;
}

.autoplay{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.next{
    font-size: 16px;
    color: #030303;
}

.autoplay-text{
    margin-left: auto;
    font-size: 13px;
    margin-right: 1em;
    color: #606060;
}

/* CREATINHG SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 14px;
}
  
/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 20px;
width: 20px;
left: 0px;
bottom: -2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(16px);
-ms-transform: translateX(16px);
transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
border-radius: 36px;
}

.slider.round:before {
border-radius: 50%;
}

/* CREATING VIDEOS BOX */

.next-video{
    display: flex;
    flex-direction: row;
    padding: 4px 0;    
}

#first-next-video {
    border-bottom: 1px #ccc solid;
    padding: 16px 0;
    margin-bottom: 12px;
}

.about-video-box{
    margin-left: 1em;
}

.about-video-box a{
    color: #030303;
    font-size: 14px;
    padding-bottom: .5em;
    text-decoration: none;
    font-weight: 500;
}

.about-video-box p{
    color: #606060;
    font-size: 13px;
    line-height: 1.5em;
}